*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    width: 200px;
    padding: 4px;
    border: 1px solid green;
    border-radius: 33px;
    color: white;
    background-color: green;
    position: relative;
    top: 404px;
    /* right: 50%; */
    height: 100px;
    
}
 
.main-div{
    height: 100vh;
    width: 80%;
    background-color: aqua;
    margin: auto;
    text-align: center;
}

button{
    animation: fade 2s ease forwards;
}
.section-2{
    height: 100vh;
    background-color: yellow;
    width: 80%;
    margin: auto;
}
/* @keyframes fade{
    from{
        opacity: 1;
        pointer-events: all; /*gets raid of all traces of the button*/
  /*  } to{
        opacity: 0;
        pointer-events: none;
    }
} */