*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    width: 200px;
    padding: 4px;
    border: 1px solid green;
    border-radius: 13px;
    color: white;
    background-color: green;
    position: fixed;
    top: 404px;
    right: 50%;
}